:root {
  --primary-color: #defcf9;
  --secondary-color: #cadefc;
  --tertiary-color: #c3bef0;
  --fourth-color: #cca8e9;
  --fifth-color: #ffb6b9;
  --sixth-color: #bbded6;
  --seventh-color: #61c0bf;
  --eigth-color: #fae3d9;
  --brigth-yellow-color: #fdfdc4;
  --bright-pink-color: #eca0b6;
  --light-orange-color: #ffe8cf;
  --light-pink-color: #ffdede;
  --light-green-color: #ccffec;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --fun-font-family: "Sedan", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
/* .sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
} */

/* navbar and image slider */
.logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px 10px 10px 40px;
  border: 1px solid var(--fourth-color);
  box-shadow: var(--box-shadow);
}
.nav-bar {
  /* background-color: var(--tertiary-color); */
  background-color: white;
  box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--fourth-color);
  opacity: 100%;
}
.nav-link {
  font-family: var(--fun-font-family);
  font-size: 17px;
  font-weight: bold;
  opacity: 40%;
  color: black;
}
.slider {
  position: relative;
  box-shadow: var(--box-shadow);
}

.image-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  flex-shrink: 0;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #fcfcf6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}
/* end of navbar and image slider */
section {
  padding: 20px;
  background-color: white;
}
.mission {
  padding: 20px;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  padding: 5px 20px;
}
p {
  font-family: var(--fun-font-family);
  padding: 20px;
}
.btn {
  margin: 10px;
  padding: 15px 30px;
  border-radius: 40px;
  line-height: 27px;
  font-size: 18px;
  text-decoration: none;
  font-family: var(--default-font-family);
  transition: all 100ms ease-in-out;
}
.btn-form {
  color: rgb(85, 85, 85);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-form:hover {
  color: white;
  border: 6px solid var(--primary-color);
  background: var(--tertiary-color);
}
.btn-branding {
  color: white;
  border: 6px solid var(--primary-color);
  background: var(--tertiary-color);
}
.btn-branding:hover {
  color: black;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.container {
  background-color: var(--primary-color);
}
/* form  */
.email-form {
  padding: 40px;
  background-color: var(--tertiary-color);
  border: 1px solid var(--primary-color);
  /* width: 700px; */
  color: white;
  font-size: 21px;
}
/* .border-form {
  border: 1px solid var(--primary-color);
  padding: 20px;
  background-color: var(--tertiary-color);
} */
.input {
  margin: 10px;
  padding-left: 25px;
  border: 1px solid white;
  width: 40%;
  font-size: 18px;
  border-radius: 20px;
  height: 50px;
  font-family: var(--default-font-family);
  border: 2px solid var(--tertiary-color);
}
input[type="email"],
input[type="tel"],
input[type="text"] {
  color: gray;
  border-color: gray;
}
input[type="tel"] {
  margin-bottom: 3px;
}
input[type="email"] {
  margin-right: 0px;
}
.optional {
  font-size: 11px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.privacy-disclaimer {
  font-size: 11px;
}
/* grids */
.grid {
  display: grid;
  /* grid-gap: 50px; */
}
.two-columns-grid {
  grid-template-columns: 2fr 1fr;
}

/* about page */
.about .two-columns-grid {
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.about {
  padding: 40px;
}
.about-page-section,
.services {
  box-shadow: var(--box-shadow);
}
.about-me {
  margin: 40px;
}
.personal-img {
  margin: 0 auto;
  padding: 20px;
  border-radius: 60%;
  border: 1px solid var(--secondary-color);
  justify-content: center;
}
/* services page */
.services h2,
h3 {
  color: var(--fifth-color);
}
h3 {
  margin-top: 40px;
}
.services .two-columns-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 40px;
}
.service {
  padding: 20px;
  margin-top: 40px;
}
.btn-booking {
  color: black;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border: 6px solid var(--fifth-color);
}
.btn-booking:hover {
  color: white;
  border: 6px solid var(--primary-color);
  background: var(--fifth-color);
}
.services img {
  margin: 0 auto;
  padding: 10px;
  border-radius: 20%;
  border: 1px solid var(--tertiary-color);
  justify-content: center;
}
/* contact page */
.contact .two-columns-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 40px;
}
.contact a {
  color: #c3bef0;
  text-decoration: none;
}
@media (max-width: 1400px) {
  .input {
    margin: 5px;
    margin-bottom: 8px;
    padding-left: 23px;
    border: 1px solid white;
    width: 40%;
    font-size: 17px;
  }
  section {
    padding: 10px;
  }
}
@media (max-width: 880px) {
  .two-columns-grid {
    grid-template-columns: 1fr;
  }
  .about .two-columns-grid {
    grid-template-columns: 1fr;
  }

  .email-form-img {
    display: none;
  }
  .email-form {
    padding: 20px;
    /* width: 500px; */
    font-size: 16px;
  }
  .email-form p {
    font-size: 15px;
  }
  section {
    padding: 0px;
  }
  .input {
    margin: 10px;
    padding-left: 15px;
    width: 70%;
    font-size: 13px;
  }
  .email-form {
    font-size: 13px;
  }
  .btn {
    line-height: 20px;
    font-size: 14px;
  }
  p {
    font-size: 13px;
  }
  .about {
    padding: 20px;
  }
  .personal-img {
    margin: 10px;
  }
}
@media (max-width: 580px) {
  .about {
    padding: 0px;
  }
  .about-me {
    margin: 20px;
  }
  .personal-img {
    display: none;
  }
  .services .two-columns-grid {
    grid-template-columns: 1fr;
  }
}
