:root {
  --primary-color: #ffeee7;
  --secondary-color: #e3670c;
  --branding-color: #cc3d0b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
