:root {
  --primary-color: #ffeee7;
  --secondary-color: #e3670c;
  --branding-color: #cc3d0b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  width: 1100px;
}
header {
  margin-top: 60px;
}
main {
  width: 600px;
  margin: 40px auto;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider img {
  display: none; /* Hide images by default */
  width: 100%;
  height: 450px;
  object-fit: contain;
}
.dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
